// These colors are specific to the theme. Do not use in a package!

// // base16-tommorrow-night
// @base00: #1d1f21;
// @base01: #282a2e;
// @base02: #373b41;
// @base03: #969896;
// @base04: #b4b7b4;
// @base05: #c5c8c6;
// @base06: #e0e0e0;
// @base07: #ffffff;
// @base08: #cc6666;
// @base09: #de935f;
// @base0A: #f0c674;
// @base0B: #b5bd68;
// @base0C: #8abeb7;
// @base0D: #81a2be;
// @base0E: #b294bb;
// @base0F: #a3685a;

// // base16-bright
// @base00: #000000;
// @base01: #303030;
// @base02: #505050;
// @base03: #b0b0b0;
// @base04: #d0d0d0;
// @base05: #e0e0e0;
// @base06: #f5f5f5;
// @base07: #ffffff;
// @base08: #fb0120;
// @base09: #fc6d24;
// @base0A: #fda331;
// @base0B: #a1c659;
// @base0C: #76c7b7;
// @base0D: #6fb3d2;
// @base0E: #d381c3;
// @base0F: #be643c;

// base16-eighties
@base00: #2d2d2d;
@base01: #393939;
@base02: #515151;
@base03: #747369;
@base04: #a09f93;
@base05: #d3d0c8;
@base06: #e8e6df;
@base07: #f2f0ec;
@base08: #f2777a;
@base09: #f99157;
@base0A: #ffcc66;
@base0B: #99cc99;
@base0C: #66cccc;
@base0D: #6699cc;
@base0E: #cc99cc;
@base0F: #d27b53;


@white: @base07;
@very-light-gray: @base05;
@light-gray: @base03;
@gray: @base02;
@dark-gray: @base01;
@very-dark-gray: @base00;

@cyan: @base0C;
@blue: @base0D;
@purple: @base0E;
@green: @base0B;
@red: @base08;
@orange: @base09;
@light-orange: @base0A;
@yellow: @base0A;
